body {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    height: 100vh;
    background-color: #1f1b29
}

button {
    background-color: #1f1b29;
    color: #ffa260;
    width: 200px;
    height: 60px;
    font-size: 1em;
    padding: 1em 2em;
    border:  3px  solid #ffa260 ;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover{
    color: #ffffff;
    border-color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.5em);
}