body, html {
    font-family: "Roboto", sans-serif;
    position: center;
    height: 100%;
    text-align: center;
}

.logo {
    float: left;
    background-image: url('img/Artificien.png'); // team logo
    width: 10vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.landing {
    background: url('img/LoginPage.png') no-repeat center fixed; // team logo
    width: 100vw;
    height: 50vw;
    top: 100%;
    // background-color: purple; need to figure out how to add purple coloring!
}

.active {
    color: purple;
}

nav {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #011627;
    text-align: center;
    padding: 14px 50px;
  }

button {
    background: #3C096C;
    color: white;
    font-family: "Avenir";
    font-size: 1.2;
    border: 0;
}
.cardholder {
    display: flex;
    justify-content: space-around;
    background-color: #011627; // using color from Figma
    color: #FDFFFC;
    border-radius: 25px;
}

.card {
    width: 30%;
    height: 80%;
    border: 1px;
    border-style: solid;
    margin: 15px;
    display: inline-block;
    background-color: #041424; 
    color: white;
    border-radius: 25px;
}
.card-body {
    margin: 10px;
}

.cardimg{
    margin: 2px;
    width : 70%;
    height: 20%;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #041424;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }