@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

body, html {
  font-family: "Avenir";
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  margin-left: 0px;
  text-align: center;
  overflow-x: hidden; // to prevent scrolling from side to side. thank you stack overflow for the advice here!
  scroll-behavior: smooth;
}

.drawer-font-body {
  font-family: "Avenir";
}

.welcome-body {
  margin: 0;
}

#main {
  margin-top: 110px;
  background-color: white;
  width: 100%;
  margin-left: 0px;
}

.ordered-list {
  display: table-cell;
}

.navbar-complete {
  background-color: white;
  border-bottom: 5px solid purple;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between; 
  width: 90%;
}
.active {
  text-decoration: none;
}

.logo {
  float: left;
  background-image: url('img/NavbarLogo.png'); // team logo
  width: 5vw;
  height: 2.5vw;
  margin: 16px 50px 0px 8px;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-ul {
  color: black;
}

.nav-ul li:hover, li:visited, li:link, li:active {
  color: black;
}

.flex-container {
padding: 0;
margin: 0;
display: flex;
}

.active {
  color: purple;
}
.dataset_existing {
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  // margin: 50px;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(184, 179, 179);
}

.model-card-success-button {
  background-image: linear-gradient(to right, #580D93, #AF71EB);
  border: none;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 18px 32px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.model-card-failure-button {
  background-image: linear-gradient(to right, rgb(253, 185, 185), rgb(248, 103, 103));
  border: none;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 18px 36px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.data-card-button {
  background-image: linear-gradient(to right, #580D93, #AF71EB); /* Artificien purple */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 18px 32px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.create-model-button {
  background-image: linear-gradient(to right, #580D93, #AF71EB); /* Artificien purple */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 18px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin-bottom: 50px;
}

.change-user-data-button {
  background-image: linear-gradient(to right, #580D93, #AF71EB); /* Artificien purple */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 12px 21px;
  text-align: center;
  margin: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.submit {
  background-image: linear-gradient(to right, #580D93, #AF71EB); /* Artificien purple */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 12px 21px;
  text-align: center;
  margin: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.categoryButton {
  border: none;
  color: black;
  padding: 12px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.categoryButton:hover {
  font-weight: 900;
}

.block {
  display: block;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(to right, #580D93, #AF71EB); /* Artificien purple */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 18px 32px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

sidetext {
  color: white;
}
.openbtn {
position: relative;
bottom: 4px;
left: 0px;
}

.dwnldbtn {
  background-image: linear-gradient(to right, #580D93, #AF71EB); /* Artificien purple */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 18px 32px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  bottom: 4px;
  left: 0px;
}

.rtrvbtn {
  background-image: linear-gradient(to right, rgb(58, 18, 206), rgb(20, 0, 94)); /* Artificien purple */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 18px 32px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.openbtn2 {
  position: relative;
  bottom: -1px;
  left: 0px;
}

.wrap { 
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
} 

.data-card {
  width: 30%;
  height: 80%;
  border: 1px;
  border-style: solid;
  margin: 15px;
  display: inline-block;
  background-color: #011627; 
  color: #FDFFFC; 
  border-radius: 25px;
}

#model-row {
  margin-left: 5%;
  margin-right: 10%;
}

.model-card {
  width: 100%;
  display: flex;
  background-color: #011627;
  color: #FDFFFC;
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 10px;
}

#model-p {
  margin: 15px;
  width: 20%;
  text-align: left;
}

#model-header-p {
  margin: 15px;
  width: 20%;
  text-align: left;
}

.models-in-progress-headers {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-left: 15px;
}
.models-completed-headers {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-left: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.models-content-inner {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-left: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.data-card-body {
  margin: 10px;
}

.cardimg{
  margin: 2px;
  width : 70%;
  height: 20%;
}

.model-holder {
    display: flex;
}

// ----------------------------------------
.overlay {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  margin-top: 80px;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: 0.2s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 90%;
  text-align: center;
  margin-top: 30px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.closebtn {
  position: relative;
  bottom: -5px;
  left: 0px;
}

@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}

.overlay h2, .overlay p {
color:white;
margin: 10px;
}

.dataLists {
display: flex;
justify-content: center;
}

.attribute {
margin: 15px;
}

.attribute > label {
margin: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

/**
#footer {
  position: absolute;
  bottom: 0px;
  justify-content: center;
  border-top: 1px solid rgb(224, 221, 221);
  width: 100%;
  background-color:white;
  height: 15%;
}

#footer a:link, a:visited, a:hover, a:active {
  color: rgb(175, 171, 171);
}
**/

// ----------------------------------------
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.role-button {
  display: flex;
  justify-content: center;
}

.nav-role-button-ul{
  margin-right: 10%;
}

.profile-page-user-info-body-row {
  display: flex;
  justify-content: space-evenly;
}

.profile-page-user-metrics-body {
  display: flex;
  justify-content: center;
  margin: 5%
}

#profile-page-user-info {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.username-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username-input-form {
  margin: 10px;
}

.user-metric-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#user-metric {
  margin: 10%;
}

h3 {
  display: block;
}

.profile-page-user-info-item {
  display: block;
}

.documentation-toolbar-header {
  display: flex;
  justify-content: space-evenly;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color:rgb(182, 181, 181); /* old IE */
  background-color: rgb(182, 181, 181); /* Modern Browsers */
}

.categories-and-searchbar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

#searchbar {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

amplify-authenticator{
  background-color: blue !important;
}

#signup-signin-button {
  border: none;
  background-color: rgb(224, 221, 221);
  color: black;
  padding: 12px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

#signup-signin-button:hover {
  background-color: rgb(199, 197, 197);
}

.caution {
  background-image: url('img/Caution.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  background-position: center;
}

.bottom-nav-container {
  width: 100%;
  // background-color:rgb(243, 242, 242);
  background-color:white;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 0%;
  bottom: 0px;
  border-top: 1px solid rgb(224, 221, 221);
  z-index: 999;
}

#bottom-nav-column{
  color: rgb(121, 120, 120);
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 100px;
  font-size: 14px;
  font-weight: bolder;
}

#bottom-nav-column p{
  color: black;
  font-size: 13px;
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
}

#bottom-nav-column a {
  text-decoration: none;
}

#bottom-nav-column a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: black;
}

// borrowed below from W3Schools
.fa {
  padding: 15px;
  font-size: 15px;
  width:15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.documentationSidebar {
  width: 18%;
  position: fixed;
  float: left;
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    // font-size: 25px;
    color: purple;
    display: block;
    text-align: left;
  }
}

.documentation {
  width: 55%;
  margin: auto;
  text-align: left;

  a {
    color: purple;
    text-decoration: underline;
  }

  * {
    scroll-margin-top: 110px;
  }

  > p > code {
    background-color: #eee;
    color: purple;
    border-radius: 3px;
    padding: 0 3px;
  }
  
  img {
    width: 100%;
  }
}

code {
  font-family: courier, monospace !important;
}
