body, html {
    font-family: "Roboto", sans-serif;
    position: center;
    height: 100%;
    text-align: center;
}

.logo {
    float: left;
    background-image: url('img/Artificien.png'); // team logo
    width: 10vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.landing {
    background: url('img/LoginPage.png') no-repeat center fixed; // team logo
    width: 100vw;
    height: 50vw;
    top: 100%;
    color: purple; // need to figure out how to add purple coloring!
}

.active {
    color: purple;
}

nav {
    float: right;
}

ul {
    margin: 0;
    padding: .5;
    list-style: none;
}

li {
    display: inline-block;
    padding-top: 5px;
    margin-left: 200px;
    margin-right: 30px;
    padding-bottom: 35px;
}

button {
    background: #3C096C;
    color: white;
    font-family: "Avenir";
    font-size: 1.2;
    border: 0;
}
