body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

.logo {
    background-image: url('img/deepfried.jpg');
    width: 30vw;
    height: 30vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.active {
    color: pink;
}